{% extends "layout.html" %}
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Data Collection</h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-4">
            <img src="../static/Images/data_collection_1.png" class= "index_img" height="400" width="500" alt="code_snip"/>
        </div>
        <div class="col-md-4">
            <img src="../static/Images/data_collection_2.png" class= "index_img" height="400" width="500" alt="code_snip"/>
        </div>
        <div class="col-md-4">
            <img src="../static/Images/data_collection_3.png" class= "index_img" height="400" width="500" alt="code_snip"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Heat Map</h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12">
            <img src="../static/Images/heatmap_1.png" class= "index_img" height="400" width="500" alt="code_snip"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>AnyChart Dashboard</h1>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-4">
            <img src="../static/Images/anychart_map_1.png" class= "index_img" height="400" width="500" alt="code_snip"/>
        </div>
        <div class="col-md-4">
            <img src="../static/Images/anychart_map_2.png" class= "index_img" height="400" width="500" alt="code_snip"/>
        </div>
        <div class="col-md-4">
            <img src="../static/Images/anychart_map_3.png" class= "index_img" height="400" width="500" alt="code_snip"/>
        </div>
    </div>

</div>
{% endblock %}