{% extends "layout.html" %}
{% block content %}
	<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 index_div module">
							<div class="vividworknav"> 
								<a href="/heatmap">
								<img src="../static/Images/inspiration_1.jpg" class= "index_img" height="400" width="500" alt="Spending by State"/>
								</a>
								<div class="text-content">
									<p>USA Spending by State</p>
								</div>
							</div> 
						</div>
					</div>
				</div>
			
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 index_div module">
							<div class="vividworknav">
								<a href="/top10">
								<img src="../static/Images/screen_shot_2018-03-08_at_6.34.39_pm_960.png" class= "index_img" height="400" width="500" alt="Spending by Agency"/>
								</a>
								<div class="text-content">
									<p>USA Spending by Department</p>
								</div>
							</div>
						</div>
					</div>	
				</div>

				<div class="col-md-12">
					<ul>
						<li>Imara Paiz</li>
						<li>Joel Gonzales</li>
						<li>Heath Pope</li>
						<li>Stephen Tsoi-A-Sue</li>
					</ul>
					<p>US Spending on contracted services for Fiscal Year 2017.</p>
				</div>

			</div>
			<br/>
		</div>
{% endblock %}