<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PPTG-US_Spending</title>

    <!-- Leaflet JS & CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="../static/css/mapStyle.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>

    <div id="map"></div>

    <script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>